*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100%;
    background-image: url('1.jpg');
    background-size: cover;
    background-position:top center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;

}

.container #search {

    border-radius: 20px;
   
    border: 3px solid black;

}


.container h1{
    padding: 15px 0px;
    color: black;
    font-size: 42px;
}


.container input[type="text"]{
    height: 35px;
    width: 300px;
    border: none;
    outline: none;
    margin: 0 50px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    box-sizing: border-box;
}
::placeholder{
    color: #d4d4d4;
}

.btn {
    padding-left: 10px 30px;
    margin: 10px 0px;
    height: 30px;
    width: 90px;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid black;
    color:black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
}

.btn:hover{
    background: gray;
    color:black;

}
.showData{
    margin: 80px 0px;
    line-height: 1.6;


}
.showData ul {
    list-style-type: none;

}

.showData .city{
    font-size: 5rem;
}
.showData .temp{
    font-size: 4rem;
    font-weight: bold;
}
.showData .desc{
    font-size: 2rem;
    text-transform: capitalize;
}


